[Unit]
Description=Run scanmail script to fetch new mail.

[Service]
User=<user>
Type=oneshot
Environment="HOME=/home/<user>" "DISPLAY=:0" "DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/usr/bin/python <script-location>

[Install]
WantedBy=multi-user.target
